<a href="https://colab.research.google.com/github/ohjisu320/study_temps/blob/main/initial_ohjisu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("github")

github

In [ ]:
#quest1
print("오지수는 데이터 엔지니어 양성과정을 듣습니다.")

오지수는 데이터 엔지니어 양성과정을 듣습니다.

In [ ]:
# 숫자화된 문자 출력 with 상수
print("4 + 5")

4 + 5

In [ ]:
# 여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.") #안녕. 출력

안녕하세요. 첫 개발 시작입니다.

In [ ]:
# 숫자 출력 with 상수
print(4 + 5)

9

In [ ]:
# 숫자화된 문자 출력 with 변수
numberwithval="4 + 5"
print(numberwithval)

4 + 5

In [ ]:
#quest2
numberwithval="40 + 50"
print(numberwithval)

40 + 50

In [ ]:
# 숫자화된 변수 출력 with 변수
numbers= numberwithval + " = 90"
print(numbers)

40 + 50 = 90

In [ ]:
define_number=10
numberwithval=numberwithval+str(define_number)
print(numberwithval)

40 + 5010

In [ ]:
# 데이터 타입이 숫자 with 변수
result= 4+5
print(result)

9

In [ ]:
# 두 수를 입력 받아 변수에 넣고 결과 출력
input=4
inputtwo=5
result= input+inputtwo
print(result)

9

In [ ]:
# 위에 내용 반복
input=8
inputtwo=9
result= input+inputtwo
print(result)

17

In [ ]:
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.")#안녕. 출력
#quest1
print("오지수는 데이터 엔지니어 양성과정을 듣습니다.")
#숫자화된 문자 출력 with 상수
print("4+5")
#숫자 출력 with 상수
print(4+5)
#숫자화된 문자 출력 with 변수
numberwithval="4+5"
print(numberwithval)
#quest2
numberwithval="40+50"
print(numberwithval)
#숫자화된 변수 출력 with 변수
numbers=numberwithval+"=90"
print(numbers)
define_number=10
numberwithval=numberwithval+str(define_number)
print(numberwithval)

안녕하세요. 첫 개발 시작입니다.
오지수는 데이터 엔지니어 양성과정을 듣습니다.
4+5
9
4+5
40+50
40+50=90
40+5010

In [ ]:
#quest
print("오지수는 데이터 엔지니어 양성과정을 듣습니다.")
#숫자화된 문자 출력 with 상수
print("4+5")
#여긴 화면 출력 명령어
print("안녕하세요. 첫 개발 시작입니다.")#안녕. 출력
#숫자 출력 with 상수
print(4+5)#숫자화된 문자 출력 with 변수
numberwithval="4+5"
print(numberwithval)
#quest2
numberwithval="40+50"
print(numberwithval)
#숫자화된 변수 출력 with 변수
numbers=numberwithval+"=90"
print(numbers)
define_number=10
numberwithval=numberwithval+str(define_number)
print(numberwithval)

오지수는 데이터 엔지니어 양성과정을 듣습니다.
4+5
안녕하세요. 첫 개발 시작입니다.
9
4+5
40+50
40+50=90
40+5010